/* Background */
.loader-container {
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.loader {
  width: 100px;
  height: 100px;
}
.loader path {
  fill: #930505;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}
.loaderreverse {
  animation-direction: reverse !important;
}

.show-loader {
  display: flex;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
  from {
    transform: rotate(0deg);
  }
}