.tabpanel {
  padding: 30px;
}

.hospital-info-hold {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.hospital-info-hold {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hospital-info-hold > div {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 10px;
  text-align: center;
}

h4 {
  text-align: end;
  color: #930505 !Important;
  margin: 0 !Important;
  margin-bottom: 30px !Important;
}

.actions-btn-hold {
  display: flex;
  justify-content: center;
}

.actions-btn-hold button{
  margin: 0 5px;
}

.card-hospital-name {
  color: #000;
  font-size: 20px;
}

.card-hospital-value {
  font-size: 18px;
  color: #930505;
}
