body {
  padding: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  background: #fff !important;
}

p,
article,
span {
  font-family: 'Lato', sans-serif !important;
  font-size: 13px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive !important;
}

ul li {
  list-style: none;
}

hr {
  border-color: #2d2d2d2d !important;
}

header {
  display: flex !important;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #930505;
  padding: 10px 20px;
  position: relative;
  box-shadow: 0 7px 0px -12px rgba(0, 0, 0, 0.7),
    0 0px 0px 0px rgba(0, 0, 0, 0.62), 0 1px 3px 1px rgba(0, 0, 0, 0.62);
}

header h3,
header p em {
  margin: 0;
  color: #fff;
  cursor: pointer;
  padding-right: 2px;
  margin: 10px 0;
}

header > div {
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.dropdown {
  position: absolute !important;
  top: 0;
  left: 0;
  background: #930505;
  display: flex;
  justify-content: center;
  display: none;
  z-index: 10;
}

.dropdown p {
  color: #fff;
  text-align: center;
  padding: 10px 25px;
}

.dropdown p:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.show-dropdown {
  display: block;
}

.dashboard_card {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.dashboard_card h5 {
  text-align: right;
  font-size: 16px;
}

.cards_hold {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.action_btn_hold {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
}

.fa-arrow-right {
  animation: arrowtick 1s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.action_btn_hold .show-all-issues {
  outline: 0 !important;
  border-width: 0 !important;
  color: #337ab7;
}

.charts_hold {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.charts_hold > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .fab, .more-fab {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  color: #930505;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.fab {
  transform: translateX(-3vw);
}

.fab:hover {
  transform: scale(1.1);
} */

header .fa-user {
  margin: 0 2px 0 6px;
}

.overlay {
  background: rgba(0, 0, 0, 0.809);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  display: none;
}

.close-nav {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 1vw;
  z-index: 99;
  transition: all 1000ms ease-in-out;
}

nav {
  width: 20vw;
  background: #000;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  background: rgb(112, 24, 24);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.user-nav-info {
  width: 100%;
  height: 13vh;
  background: rgb(78, 13, 13);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

nav > p {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 200ms linear;
}

nav > p:hover {
  background: #fff;
  color: #930505;
}

nav i {
  padding-right: 15px;
}

.admin-nav-link a {
  text-decoration: none;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.admin-nav-link:hover a {
  color: #930505 !important;
}

@media only screen and (max-width: 500px) {
  .cards_hold,
  .charts_hold {
    grid-template-columns: 1fr;
  }

  .charts_hold > * {
    width: 450px !important;
  }
}

@keyframes arrowtick {
  0% {
    padding-left: 5px;
  }
  50% {
    padding-left: 0;
  }
  100% {
    padding-left: 5px;
  }
}
