.fab {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  color: #930505;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.fab:hover {
  transform: scale(1.1);
}

.pagination_hold {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time_section {
  position: absolute;
  right: 0;
  top: 0;
}

.head-section {
  display: flex;
  align-items: flex-end;
}

.search_input {
  border-width: 0;
  outline: 0;
  border-bottom: 1px solid;
  background: rgba(0, 0, 0, 0);
}

.admin-nav-link a {
  text-decoration: none;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.admin-nav-link:hover a {
  color: #930505 !important;
}

.expand-action {
  color: #930505 !important;
}
