body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 10px #e3e3e3;
  width: 300px;
  height: 45vh;
  padding: 20px 20px;
}


input {
  margin: 10px 0px;
  padding: 10px;
  border-width: 0 0 2px 0;
  outline: 0;
  color: #000;
}

input:focus {
  border-color: #930505;
}

button {
  background: #930505;
  color: #fff !important;
  border-width: 0;
  outline: 0;
  padding: 10px;
  margin-top: 20px;
}