* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

header {
  display: flex;
  margin-bottom: 20px;
  background: #930505;
  padding: 10px 20px;
  box-shadow: 0 7px 0px -12px rgba(0, 0, 0, 0.7),
    0 0px 0px 0px rgba(0, 0, 0, 0.62), 0 1px 3px 1px rgba(0, 0, 0, 0.62);
}

header h3 {
  margin: 0;
  color: #fff;
  cursor: pointer;
  padding-right: 2px;
  margin: 10px 0;
}

header div {
  display: flex;
  align-items: center;
}

.back-icon {
  font-size: 20px;
  color: #fff;
  margin: 0 10px !important;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

p {
  color: #525252;
  margin-bottom: 20px;
}

input,
textarea {
  border: 1px solid #e3e3e3;
  font-size: 18px;
  padding: 5px;
  outline: none;
}

.hospital-list-filter {
  display: grid;
  position: relative;
  background: #000;
}

.hospital-list {
  position: absolute;
  top: 100%;
  height: 500px;
  overflow: scroll;
}

.hospital-list p {
  background: #c2c2c2;
  padding: 5px;
  margin: 0;
}

.hospital-list p:hover {
  background: #525252;
  color: #fafafa;
  cursor: pointer;
}

input::placeholder {
  color: #7a7a7a;
}

span {
  color: #930505;
  margin: 20px 0;
}

section {
  margin: 5vh 20px;
}

section h3 {
  margin-bottom: 20px;
}

form {
  display: grid;
  box-shadow: 1px 2px 5px #cfcfcf;
  padding: 20px;
  background-color: #f5f5f585;
}

form > * {
  margin: 5px 0 10px;
}

.send-issue {
  background-color: #930505;
  color: #fff;
  padding: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  form {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  form {
    width: 600px;
  }
}
