.section {
  margin: 10px 0;
  box-shadow: 0 7px 0px -12px rgba(0, 0, 0, 0.1), 0 0px 0px 0px rgba(0, 0, 0, 0.12), 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
}

.card-content-hold {
  display: flex;
  justify-content: space-between;
  text-align: end;
}


.section hr {
  margin: 0 !Important;
  margin-bottom: 10px !Important;
}

a:hover {
  font-weight: bold;
  text-decoration: none !Important;
}

.card-title {
  color: #aca9a9;
  font-size: 16px;
}

.card-value {
  font-weight: bold;
  font-size: 24px;
}

.card-value-special {
  font-weight: bold;
  font-size: 24px;
  text-align: start;
}

.section-less {
  background: #b70303;
}

.section-more {
  background: rgb(7, 182, 85);
}

.section-less *, .section-more * {
  color: #fff;
}

.fab {
  position: fixed;
  right: 3vw;
  bottom: 3vh;
  color: #930505;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

.fab:hover {
  transform: scale(1.1);
}


@media screen and (min-width: 500px) {
  .box-section {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}