.main-modal {
  position: fixed !important;
  top: 0;
  background: rgba(0,0,0,.9);
  width: 100%;
  height: 100vh;
  z-index: 12;
  display: none;
  overflow: auto;
  animation-name: modalOpen;
  animation-duration: .2s;
}

.alert-dialog {
  width: 400px;
  background: #fff;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.show-main-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}


.alert-dialog h4, #edit-modal span {
  text-align: left;
  padding-top: 20px;
  font-family: Comfortaa !important;
  font-size: 18px !important;
  line-height: 24px;
  margin: 0 !important;
  color: #930505;
}

#submit-hold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.submit-issue, .add-new-user {
  padding: 10px 20px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #930505;
  color: #ecf0f1 !important;
}

.disabled-botton {
  background: rgba(124, 124, 124, 0.3);
  box-shadow: 0 0 0 #fff;
}

#cancel-btn {
  font-weight: bold;
  cursor: pointer;
}


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 30px !important;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select {
  margin: 10px 0 !important;
  width: 100%;
}

.issue-form input, .issue-form textarea {
  margin: 10px 0px;
  padding: 10px;
  border-width: 0 0 2px 0;
  outline: 0;
  width: 100%;
  border-bottom-color: #7e7e7e !important;
}

 input:focus, textarea:focus{
  border-color: #930505 !important;
}

/* For the update hospital's orders dialog */
.edit-form {
  display: flex;
  justify-content: space-between;
}

/* For the add hospital dialog */
#hospital-add form {
  display: grid;
  grid-gap: 20px;
  padding: 20px 10px;
}

@keyframes modalOpen {
  from {opacity: 0}
  to {opacity: 1}
}
