body {
  padding: 0 !Important;
  font-family: 'Roboto', sans-serif !Important;
  background: #eee !Important;
}

p,
article,
span {
  font-family: 'Lato', sans-serif !important;
  font-size: 13px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive !important;
}

ul li {
  list-style: none;
}

header {
  display: flex !important;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 20px;
  background: #930505;
  position: relative;
  padding: 10px 20px;
  box-shadow: 0 7px 0px -12px rgba(0, 0, 0, 0.7),
    0 0px 0px 0px rgba(0, 0, 0, 0.62), 0 1px 3px 1px rgba(0, 0, 0, 0.62);
}

header h3,
header p em {
  margin: 0;
  color: #fff;
  cursor: pointer;
  padding-right: 2px;
  margin: 10px 0;
}

.login-session {
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.dropdown {
  position: absolute !important;
  top: 0;
  left: 0;
  background: #930505;
  display: flex;
  justify-content: center;
  display: none;
  z-index: 10;
}

.dropdown p {
  color: #fff;
  text-align: center;
  padding: 10px 25px;
}

.dropdown p:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.show-dropdown {
  display: block;
}

.container {
  font-size: 14px !important;
}

.nav-tabs {
  border-bottom: 2px solid #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-width: 0;
}
.nav-tabs > li > a {
  border: none;
  color: #666;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover {
  border: none;
  color: #930505 !important;
  background: transparent;
}
.nav-tabs > li > a::after {
  content: '';
  background: #930505;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.nav-tabs > li.active > a::after,
.nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.tab-nav > li > a::after {
  background: #930505 none repeat scroll 0% 0%;
  color: #fff;
}
.tab-pane {
  padding: 15px 0;
}
.tab-content {
  padding: 20px;
}

.card {
  background: #fff none repeat scroll 0% 0%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

body {
  background: #edecec;
  padding: 50px;
}

.header-user-icon {
  margin: 0 6px;
}

.overlay {
  background: rgba(0, 0, 0, 0.809);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  display: none;
}

.close-nav {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 1vw;
  z-index: 99;
  transition: all 1000ms ease-in-out;
}

nav {
  width: 20vw;
  background: #000;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  background: rgb(112, 24, 24);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.user-nav-info {
  width: 100%;
  height: 13vh;
  background: rgb(78, 13, 13);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

nav > p {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
  transition: all 200ms linear;
}

nav > p:hover {
  background: #fff;
  color: #930505;
}

nav i {
  padding-right: 15px;
}

.close-nav {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 2vh;
  right: 1vw;
  z-index: 99;
  transition: all 1000ms ease-in-out;
}

nav {
  width: 20vw;
  background: #000;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 99;
  color: #fff;
  background: rgb(112, 24, 24);
  transform: translateX(100%);
  transition: all 200ms ease-in-out;
}

.user-nav-info {
  width: 100%;
  height: 13vh;
  background: rgb(78, 13, 13);
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

nav > p {
  display: flex;
  padding: 15px 10px;
  align-items: center;
  margin-bottom: 0;
  cursor: pointer;
}

nav > p:hover {
  background: #fff;
  color: #930505;
}

nav i {
  padding-right: 15px;
}

.admin-nav-link a {
  text-decoration: none;
}

a {
  color: #fff !important;
  text-decoration: none !important;
}

.admin-nav-link:hover a {
  color: #930505 !important;
}

@keyframes dropdown {
  start {
    display: none;
  }
  end {
    display: block;
  }
}
