.complaint-notification {
  padding: 4px;
  border-radius: 50%;
  color: #5a5a5a;
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.complaint-link {
  display: flex;
  justify-content: space-between;
}

.complaint-link:hover .complaint-notification {
  color: #fff;
  background: #930505;
}

.card {
  padding: 20px !important;
  margin: 10px 20vh;
}

.action_btn_hold {
  display: flex;
  justify-content: flex-end;
}

.more_query .action_btn_hold {
  justify-content: flex-start;
}

.card-body {
  position: relative;
}

ul li {
  padding: 5px 0 !important;
  list-style: circle;
}

h5.card-title {
  color: #950303 !important;
  font-size: 18px;
}

.card-body p {
  color: #5a5a5a;
  margin-bottom: 20px;
}

form {
  display: grid;
}

textarea {
  margin: 10px 0px;
  padding: 10px;
  border-width: 0 0 2px 0;
  outline: 0;
  width: 100%;
  border-bottom-color: #7e7e7e !important;
}

textarea:focus {
  border-color: #930505;
}

.disabled-botton {
  background: rgba(124, 124, 124, 0.3);
  box-shadow: 0 0 0 #fff;
}

.more_query p {
  color: #8b8b8b;
}

.confirm-modal {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9;
  display: none;
  animation: modalOpen 100ms ease-in-out;
}

.confirm-modal div {
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.confirm-modal div p {
  font-size: 15px !important;
}

.confirm-modal div button {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  float: right;
  text-transform: uppercase;
  padding: 10px;
  border-width: 0;
  color: #930505;
  outline: 0;
  font-size: 12px !important;
}

.show-confirm-modal {
  display: flex;
}

.action-btn {
  color: #950303 !important;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
