* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif !important;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #930505;
}

.left-side {
  display: none;
}

.update-pwd {
  display: grid;
  box-shadow: 1px 1px 10px #e3e3e3;
  padding: 20px 15px;
  width: 90vw;
}

.update-pwd input {
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
  outline: none;
  width: 100%;
  border: none;
}

button {
  padding: 10px;
  background: #930505;
  font-size: 15px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .update-pwd {
    width: 40vw;
  }
}

@media screen and (min-width: 1200px) {
  .update-pwd {
    width: 23vw;
  }
}
